
<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <b>Doctor:</b>
  <%= @appointment.doctor.name %>
</p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient.name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>